<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.inner.sso.dao.RoleMapper">
    <resultMap type="com.gs.inner.sso.entity.Role" id="DataResult">
        <result column="id" property="id" />
        <result column="accessUrl" property="accessUrl" />

        <result column="createTime" property="createTime" />
        <result column="lastUpdateTime" property="lastUpdateTime" />
        <result column="lastUpdateInnerUserId" property="lastUpdateInnerUserId" />
        <result column="locked" property="locked" />
    </resultMap>

    <sql id="insert">
        accessUrl,createTime,lastUpdateTime,lastUpdateInnerUserId,locked
    </sql>

    <sql id="selectDetail">
        id, accessUrl,createTime,lastUpdateTime,lastUpdateInnerUserId,locked
    </sql>

    <select id="getRoleById" resultMap="DataResult">
        <![CDATA[
          SELECT
          ]]>
          <include refid="selectDetail"/>
        <![CDATA[
           FROM InnerRole where id=#{id}
        ]]>
    </select>

    <select id="getRoleList" resultType="java.util.List">
        <![CDATA[
          SELECT * FROM InnerRole
        ]]>
    </select>

    <!--todo-->
    <select id="getRoleAccessUrlList" resultType="java.util.List">
        <![CDATA[
          SELECT id,accessUrl,locked FROM InnerRole
        ]]>
    </select>


    <update id="updateRoleById" parameterType="com.gs.inner.sso.entity.Role">
        <![CDATA[
          UPDATE InnerRole SET
          accessUrl=#{role.accessUrl},
          lastUpdateTime=#{role.lastUpdateTime},
          lastUpdateInnerUserId=#{role.lastUpdateInnerUserId},
          locked=#{role.locked}
          WHERE id=#{role.id}
        ]]>
    </update>


    <insert id="insertRole" parameterType="com.gs.inner.sso.entity.Role">
        <![CDATA[
          INSERT INTO InnerRole (
          ]]>
        <include refid="insert"/>
        <![CDATA[
          )
           VALUES (#{role.accessUrl},#{role.createTime},#{role.lastUpdateTime},#{role.lastUpdateInnerUserId},#{role.lock})
        ]]>
    </insert>

</mapper>