<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.inner.sso.dao.InnerUserMapper">
    <resultMap type="com.gs.inner.sso.entity.InnerUser" id="DataResult">
        <result column="id" property="id" />
        <result column="passport" property="passport" />
        <result column="password" property="password" />
        <result column="username" property="username" />
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="createTime" property="createTime" />
        <result column="loginIp" property="loginIp"/>
        <result column="lastLoginIp" property="lastLoginIp"/>
        <result column="loginTime" property="loginTime" />
        <result column="lastLoginTime" property="lastLoginTime" />
        <result column="lastLogoutTime" property="lastLogoutTime"/>
        <result column="locked" property="locked"/>
        <result column="type" property="type"/>
    </resultMap>

    <resultMap type="com.gs.inner.sso.entity.InnerUser" id="RoleResult">
        <result column="id" property="id" />
        <result column="passport" property="passport" />
        <result column="password" property="password" />
        <result column="username" property="username" />
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <collection property="roleList" ofType="Role">
            <id column="roleId" property="id"/>
            <result column="roleName" property="roleName" />
        </collection>
    </resultMap>

    <sql id="insert">
        passport, password, username, email, phone, createTime, loginIp, lastLoginIp, loginTime, lastLoginTime, lastLogoutTime,  locked, type
    </sql>

    <sql id="selectDetail">
        id, passport, username, email, phone,createTime, loginIp, lastLoginIp, loginTime, lastLoginTime, lastLogoutTime, locked, type
    </sql>

    <select id="getUserByPassportAndPassword" resultMap="DataResult">
        <![CDATA[
          SELECT
          ]]>
          <include refid="selectDetail"/>
        <![CDATA[
           FROM InnerUser
           where passport=#{passport} AND password=#{password}
        ]]>
    </select>

    <select id="getUserByPassport" resultMap="DataResult">
        <![CDATA[
          SELECT
          ]]>
        <include refid="selectDetail"/>
        <![CDATA[
           FROM InnerUser where passport=#{passport}
        ]]>
    </select>

    <select id="getUserById" resultMap="DataResult">
        <![CDATA[
          SELECT
          ]]>
        <include refid="selectDetail"/>
        <![CDATA[
           FROM InnerUser where id=#{id}
        ]]>
    </select>

    <!--todo-->
    <select id="getRoleByUserId" resultMap="RoleResult">
        <![CDATA[
          SELECT
            iu.id, passport, username, email, phone,roleName
           FROM (InnerUser iu,InnerRole ir) LEFT JOIN InnerUserRoleRelation iurr ON iu.id = iurel.id AND ir.id = iurel.inerrole_id
           WHERE iu.id=#{id}
        ]]>
    </select>

    <select id="getRoleByUserPassport" resultMap="RoleResult">
        <![CDATA[
          SELECT
            iu.id, passport, username, email, phone,roleName
           FROM (InnerUser iu,InnerRole ir) LEFT JOIN InnerUserRoleRelation iurr ON iu.id = iurel.id AND ir.id = iurel.inerrole_id
           WHERE iu.passport=#{passport}
        ]]>
    </select>

    <select id="getPasswordByPassport" resultType="java.lang.String">
        <![CDATA[
          SELECT password FROM InnerUser where passport=#{passport}
        ]]>
    </select>

    <select id="getCountByPassport" resultType="java.lang.Integer">
        <![CDATA[
          SELECT COUNT(id) FROM InnerUser WHERE passport=#{passport}
        ]]>
    </select>

    <update id="updateUser" parameterType="com.gs.inner.sso.entity.InnerUser">
        <![CDATA[
          UPDATE InnerUser SET
          username=#{innerUser.username}, email=#{innerUser.email}, phone=#{innerUser.phone},
           locked=#{innerUser.locked}, type =#{innerUser.type}
          WHERE passport=#{innerUser.passport}
        ]]>
    </update>

    <update id="updateInfo" parameterType="com.gs.inner.sso.entity.InnerUser">
        <![CDATA[
        UPDATE InnerUser SET
        loginIp=#{innerUser.loginIp},
          lastLoginIp=#{innerUser.lastLoginIp}, loginTime=#{innerUser.loginTime},
          lastLoginTime=#{innerUser.lastLoginTime}, lastLogoutTime=#{innerUser.lastLogoutTime}
          WHERE passport=#{innerUser.passport}
        ]]>
    </update>



    <update id="updateLogoutTime">
        <![CDATA[
          UPDATE InnerUser SET
          lastLogoutTime=#{logoutTime}
          WHERE passport=#{passport}
        ]]>
    </update>


    <insert id="insertUser" parameterType="com.gs.inner.sso.entity.InnerUser">
        <![CDATA[
          INSERT INTO InnerUser (
          ]]>
        <include refid="insert"/>
        <![CDATA[
          )
           VALUES (#{innerUser.passport}, #{innerUser.password},#{innerUser.username}, #{innerUser.email}, #{innerUser.phone}, #{innerUser.createTime}, #{innerUser.loginIp}, #{innerUser.lastLoginIp},#{innerUser.loginTime}, #{innerUser.lastLoginTime}, #{innerUser.lastLogoutTime},  #{innerUser.locked}, #{innerUser.type},#{innerUser.roleList})
        ]]>
    </insert>

    <!--todo 修改用户角色-->


</mapper>